@font-face {
    font-family: "Pixelmoji-2.0";
    src: url("fonts/Pixelmoji-2.0.woff2") format("woff2"),
        url("fonts/Pixelmoji-2.0.ttf") format("truetype"),
        url("fonts/Pixelmoji-2.0.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-palette-values --palette0 {
    font-family: "Pixelmoji-2.0";
    base-palette: 0
}
.icon {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "Pixelmoji-2.0" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.palette0 {
    font-palette: --palette0;
    color: currentColor;
}